<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI plugin</title>
  </head>
  <body>
  <form action="/prompt" method="post" enctype="multipart/form-data">
  <label for="fname">Enter details to generate playwright script</label><br>
  <textarea id="userInput" name="userInput" value="" rows="10" cols="70"></textarea><br><br>
  <input type="submit" value="Submit">
</form> 
  </body>
</html>
